@import './variables';

body {
    margin: 0;
    background-color: $almost-white;
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a, a:active, a:visited {
    color: $dark-green;
    text-decoration: none;
}

a:hover {
    color: $light-blue;
    text-decoration: underline;
}

//default inputs
input, select {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #999;
}

header {
    background-color: $dark-blue;
    padding: 20px;
    
    span {
        color: $almost-white;
        &:hover {
            color: $light-blue;
        }
    }
}

.page-heading {
    text-align: center;
    padding: 5px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    @media (min-width: 500px) {
        width: 50%;
        flex-direction: row;
    }
}

.home-page-box {
    padding: 30px;
}

.view-tickets-box {
    width: 95vw;
    margin: auto;

    @media (min-width: 500px) {
        width: 60vw;
    }
}

.ticket-box {
    width: 100%;
    margin: 30px 0;
}

.a-ticket {
    margin: 30px 0;
    border: 1px solid #333;
    border-radius: 3px;

    &--closed {
        background: $closed-color;
    }
}

.ticket-header {
    background: $dark-green;
    color: $almost-white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.ticket-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 50px;
    
    span {
        color: #777;
    }
}

.ticket-status-text {
    border-top: 1px solid #333;
    margin: 5px 50px;
    padding: 7px;

    &--issue {
        background: #efefef;
    }
}

.new-ticket-form {
    text-align: center;
}

.form-button {
    display: block;
    padding: 10px 15px;
    background-color: $light-blue;
    margin: 15px auto;
    color: $almost-white;
    font-size: 16px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }
    
}

.button-wrap {
    display: flex;
    justify-content: space-around;

    button {
        display: block;
        padding: 7px 10px;
        border: 0;
        font-size: 14px;
        cursor: pointer;
        margin: 10px;
        border-radius: 3px;

        &:hover {
            opacity: .7;
        }
    }
    
    .close-button {
        background: $danger-red;
    }

    .reopen-button {
        background: $light-gray;
    }

    .back-button {
        background: $bright-yellow;
    }
    
    .edit-button {
        background: $open-green;
    }
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    text-align: center;
    margin: 10px;
    padding: 20px;
    width: 300px;
    border: 1px solid #333;
    background: white;
}

#new-status-text {
    width: 100%;
}
