$dark-green: #687854;
$dark-blue: #31708E;
$med-blue: #5085A5;
$light-blue: #8FC1E3;
$almost-white: #F7F9FB;

$danger-red: #ffa3a3;
$bright-yellow: #f3ff99;
$open-green: #c0e8b2;
$closed-color: #bababa;
$light-gray: #efefef;