$dark-green: #687854;
//$dark-blue: #31708E;
$dark-blue: #31808e;
$med-blue: #5085A5;
$light-blue: #8FC1E3;
$almost-white: #F7F9FB;

$danger-red: #ffa3a3;
$bright-yellow: #f3ff99;
$open-green: #c0e8b2;
$closed-color: #bababa;
$light-gray: #efefef;

$font1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font2: 'Tsukushi A Round Gothic';
